
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=sncnP0yaQe8MXDmEo06gzA==,ygTw6fneBCktScVHdBtfOg==,vx4kr1AhmHdsOUrwfy2Yhw==,4vm/PFU0qZsDATu5UnZkXQ==
API_TOKEN_SALT=dfeTGOpFGFt+YnzvRgw/lQ==
ADMIN_JWT_SECRET=qZnE2ExqLn1rE/ncFb4Oww==
TRANSFER_TOKEN_SALT=1TpFvyPls/amRDZHdHsRGQ==
ENCRYPTION_KEY=XNh5No0NvwDC8UyJF66iWg==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=cyg-website
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=g1dewuOQ20NEMqcJ2RELTg==
